/* Normalize and reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Correct font family inheritance */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* Lists */
ul,
ol {
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Forms */
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: middle;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Clear floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive utility class */
@media (max-width: 768px) {
  /* Add responsive styles here */
}
/* CSS RESET END */

/* NAVBAR STYLE */

.nav-container {
  position: relative;
  max-width: 100vw;
}

.navbar {
  background-color: rgb(32, 30, 30);
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-brand {
  font-size: 2rem;
  font-weight: 600;
  padding: 0 .7rem;
}

.nav-link,
.nav-login-btn,
.register-btn {
  padding: 0 .5rem;
}

.nav-profile {
  display: flex;
  align-items: center;
}

.register-btn {
  background-color: rgb(51, 51, 203);
  padding: .7rem 1rem;
  border-radius: 5px;
  margin-left: .5rem;
}

.logout-btn {
  color: rgb(239, 19, 19);
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: fit-content;
}

.profile-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.profile {
    opacity: 0;
    background-color: rgb(32, 30, 30);
    position: absolute;
    width: 120px;
    font-size: 1.1rem;
    right: 5px;
    top: 75px;
    border-radius: 10px;
    color: whitesmoke;
    padding: 1rem;
    transition: 0.4s;
  }

  .profile .logout-btn {
    margin-top: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .profile.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
  }

.cart-icon {
  font-size: 2.5rem;
  margin-right: 1rem;
  color: rgb(89, 89, 248);
  cursor: pointer;
  position: relative;
}

.cart-notification {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: red;
  border: 3px solid rgb(32, 30, 30);
  border-radius: 50%;
}

.sidebar-login {
  margin-top: .5rem;
}

.sidebar-register {
  background-color: rgb(51, 51, 203);
  padding: .7rem .8rem;
  border-radius: 5px;
  width: fit-content;
  margin-top: .3rem;
}

.sidebar {
  display: none;
}

.hamburger-menu {
  display: none;
}

/* MAIN CONTENT STYLE */
.main-content {
  padding: 2rem;
}

.main-content .title {
  font-size: 2rem;
  font-weight: 600;
  padding: .5rem 0;
}

.category-button {
  margin-right: .5rem;
  padding: .4rem .5rem;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background-color: #007BFF;
  color: whitesmoke;
  margin-bottom: .5rem;
}

.category-button:hover, .category-button.active {
  background-color: #201E1E;
  color: whitesmoke;
}

.products-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

/* CHECKOUT CARD STYLE */
.checkout-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

.checkout-card .product-image {
  width: 100px;
  height: 100px;
  margin: 0 20px;
}

.checkout-card .product-details {
  flex: 1;
}

.checkout-card .quantity-input {
  display: flex;
  align-items: center;
}

.checkout-card .quantity-input button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.checkout-card .quantity-input input {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 0 5px;
  padding: 3px;
}

.remove-button {
  background-color: rgb(213, 17, 17);
  color: whitesmoke;
  border: none;
  font-size: 1.7rem;
  border-radius: 5px;
  padding: 0 0.4rem;
  cursor: pointer;
  transition: .3s;
}

.remove-button:hover {
  background-color: rgb(155, 2, 2);
}


/* CARD STYLE */
.product-card {
  width: 18rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.product-name {
  font-size: 1.25rem;
  margin-bottom: 8px;
}

.product-price {
  font-size: 1rem;
  color: #666;
  margin-bottom: 12px;
}

.add-to-cart-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.add-to-cart-button:hover {
  background-color: #0056b3;
}

.detail-button {
  background-color: rgb(38, 165, 38);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 5px;
}

.detail-button:hover {
  background-color: rgb(22, 124, 22);
}

.card-detail-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.modal-product-image {
  width: 300px;
}

.product-review {
  margin: 10px 0;
}

.rating-star {
  color: rgb(213, 213, 0);
}

/* REGISTER AND LOGIN STYLE */
.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 500px;
  padding: 30px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
}

.container h1 {
  font-size: 30px;
  padding: 10px;
}

.did-floating-label-content {
  position: relative;
  margin-bottom: 20px;
}

.did-floating-label {
  color: #2b3b4d;
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 11px;
  padding: 3px 5px;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.did-floating-input {
  font-size: 20px;
  display: block;
  width: 100%;
  height: 46px;
  padding: 0 20px;
  background: #fff;
  color: #323840;
  border: 1px solid #10243a;
  border-radius: 4px;
  box-sizing: border-box;
}

.did-floating-input:focus {
  outline: none;
}

.did-floating-input:not(:placeholder-shown) ~ .did-floating-label,
.did-floating-input:focus ~ .did-floating-label {
  top: -8px;
  font-size: 13px;
}

.form-button {
  width: 100%;
  color: #ccc;
  background-color: #0056b3;
  font-size: 18px;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 10px;
}

.form-button:hover {
  background-color: #004083;
}

.form-link {
  margin: 10px;
  padding-top: 20px;
  color: #0056b3;
}

.cart-card-container {
  max-height: 480px;
  overflow-y: scroll;
}

.rodal-dialog {
  width: 700px;
}

.checkout-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.checkout-button {
  background-color: #0056b3;
  color: #fff;
  padding: 5px 7px;
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #004083;
}

.price {
  margin: 5px 0;
  font-size: 1.2rem;
  text-align: center;
}

.dollar-sign {
  font-weight: 600;
}



/* MEDIA QUERY */
@media (max-width: 768px) {
  .nav-link,
  .login-btn,
  .register-btn  {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .bar {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
  }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: rotate(-50deg) translate(-5px, 8px);
    
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: rotate(50deg) translate(-5px, -8px);
  }

  .sidebar, .profile {
    opacity: 0;
    background-color: rgb(32, 30, 30);
    position: absolute;
    width: 50%;
    font-size: 1.1rem;
    right: 5px;
    top: 75px;
    border-radius: 10px;
    color: whitesmoke;
    padding: 1rem;
    transition: 0.4s;
  }

  .sidebar.active,
  .profile.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
  }

  .profile-img {
    display: none;
  }

  .sidebar-profile-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  .container {
    width: 300px;
    padding: 20px;
  }

  .sidebar-profile-link {
    padding: 0.4rem .5rem;
  }

  .rodal-dialog {
    width: 300px;
  }

  .card-detail-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-y: scroll;
  }

  .cart-card-container {
    max-width: 100%;
  }

  .cart-card-container .product-image {
    width: 30px;
    height: auto;
  }

  .cart-card-container .remove-button {
    font-size: 1.3rem;
  }
}